:host{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 77px);
    color: #fff
}

p {
    max-width: 500px;
    margin-bottom: 32px;
    text-align: center;
}